---
layout: 'deck_unit'
title: "From Myths to Mechanisms"
tags: []
description: "A quick, scene-setting discussion of nativism and empiricism."
depends: ['']
source: ['']
duration: 5
book: []
exercises: []
exercises_fast: []
---

include ../../../fragments/slide_mixins

section.slide#myths_to_mechanisms
  .notes How do humans come to know  about---and to knowingly manipulate---objects, causes, words, numbers, colours, actions and minds?
  .notes In a beautiful myth, Plato suggests that the answer is recollection. 
  .notes Before we are born, in another world, we become acquainted with the truth. 
  .notes Then, in falling to earth, we forget everything. 
  .notes But as we grow we are sometimes able to recall part of what we once knew.
  .notes So it is by recollection that humans come to know about objects, causes, numbers and everything else. 
  .words
    .middle.center 
      p myths

section.slide
  .notes Leibniz explicitly endorses a version of Plato's view.
  .notes The view is subtler than it seems: we'll return to the subtelties later.
  .words: .container_12
    .grid_5
        p.handout.show ‘the soul inherently contains the sources of various notions and doctrines which external objects merely rouse up on suitable occasions’
        p.right Leibniz (1996, p. 48)
        .handout.ctd \citep[p.\ 48]{Leibniz:1996bl}
    .right-half-white.slide
      .notes Locke, as you probably know, was an empiricist.  Here's his manifesto.
      .notes (Here I'm contrasting Plato's and Leibnz' nativism with Locke's empiricism.)
      .grid_5.prefix_1
        .words
          p
            span.handout.show ‘Men, barely by the Use of their natural Faculties, may attain to all the Knowledge they have, without the help of any innate Impressions; [...]
          .slide
            .notes This claim about colour isn't relevant yet but we'll return to it later.
            p
              span.handout.ctd.show ‘it would be impertinent to suppose, the Ideas of Colours innate in a Creature, to whom God hath given Sight, and a Power to receive them by the Eyes from external Objects’
            p.right (Locke 1975 [1689], p. 48)
            .handout.ctd \citep[p.\ 48]{Locke:1975qo}

//section.slide
//  .words: .container_12: .grid_12
//    p ‘it is the knowledge of necessary and eternal truths that distinguishes us from mere animals and gives us reason and the sciences [...]
//    p ‘It is also through the knowledge of necessary truths and their abstractions that we rise to reflective acts, which make us think of what is called I, and consider that this or that is within us: and thus, thinking of ourselves, we think of being, of substance [...].
//    p ‘And these reflective acts furnish the chief objects of our reasonings.’
//    p.right (Leibniz 1973 [1714], §§29-30)

section.slide
  .notes Spelke is blunt.
  .words
    .middle
      p.handout.show ‘Developmental science [...] has shown that both these views are false’
      .handout.ctd \citep[p.\ 89]{Spelke:2007hb}.
      p.right (Spelke and Kinzler 2007, p. 89)
      p.notes Spelke doesn't have exactly Locke vs Leibniz in mind here, but it's close enough.
      p.notes The quote continues ‘humans are endowed neither with a single, general-purpose learning system nor with myriad special-purpose systems and predispositions. Instead, we believe that humans are endowed with a small number of separable systems of core knowledge. New, flexible skills and belief systems build on these core foundations.’


section.slide
  .words
    .middle.center 
      p.linethrough1 myths
      p.step2.hide mechanisms
    +line-through('.linethrough1')
    +show('.step2')
    .notes The claim that we should shift from thinking about myths to mechanisms raises two questions.
    .notes First, what are the mechanisms?
    .notes And, second, why suppose there is any role for philosophers rather than scientists?

