---
layout: 'deck_unit'
title: "Inbetween mindless behaviour and thought"
tags: []
description: "Why does the question about the origins of knowledge require philosophical inquiry?"
depends: ['']
source: ['']
duration: 5
book: []
exercises: []
exercises_fast: []
---

include ../../../fragments/unit_mixins
include ../../../fragments/compatibility_mixins


// doesn't appear on a slide
.handout
  span ‘We have many vocabularies for describing nature when we regard it as 
  span.highlight1 mindless
  span , and we have a mentalistic vocabulary for describing 
  span.highlight1 thought and intentional action
  span ; what we lack is a way of describing 
  span.highlight1 what is in between
  span ’ 
  span \citep[p.\ 11]{Davidson:1999ju}


mixin davidson_inbetween()
  p
    span ‘if you want to describe what is going on in the head of the child when it has a few words which it utters in appropriate situations,  
    span.you-will-fail you will fail
    span.step2.hide   for lack of the right sort of words of your own.
  p.step3.hide
    span ‘We have many vocabularies for describing nature when we regard it as 
    span.highlight1 mindless
    span , and we have a mentalistic vocabulary for describing 
    span.highlight1 thought and intentional action
    span ; what we lack is a way of describing 
    span.highlight1 what is in between
    span ’
  p.right
    span (Davidson 1999, p. 11)
  +highlight('.you-will-fail','red')
  +show('.step2')
  +show('.step3')
  +invert('.highlight1')
    block

section.slide
  .notes: :t()
    Why suppose there is any role for philosophers rather than scientists?
    Part of the answer is provided by Donald Davidson.
  .photobox-bottom-right
    img.photo-right(src='/img/davidson.gif')
  .words: .container_12: .grid_12
    .notes The question is how humans come to know about objects, words, thoughts and other things.
    .notes In pursuing this question we have to consider minds where the knowledge is neither clearly present nor obviously absent. 
    .notes This is challenging because both commonsense and theoretical tools for describing minds are generally designed for characterising fully developed adults.
    +davidson_inbetween()
      .notes: :t()
        So this is the challenge.  We are describing something which is neither mindless 
        nor involving full-blown thought and action.  And, as Davidson observes, we lack
        a way of describing what is in between.

section.slide
  .words
    .middle
      .handout \textit{Object permanence}:
      p Object permanence: 
      p.handout.ctd.show the ability to know things about, or represent, objects you aren't currently perceiving. 

section.slide
  .words
    .middle.center
      p the ‘paradox of early permanence’ (Moore & Meltzoff 1998)

mixin slide_object_permenance(no_steps)
  p When can infants first 
    span.highlight1 know
      span.step4.remove-me  (or represent) 
    span  
    span things about objects they aren't perceiving?
  div(class="#{no_steps ? '' : 'nodim slide'}")
    p.em-above
      span.highlight1 searching
      span : not before 8 months
    p.right (Moore & Meltzoff 2008)
  div(class="#{no_steps ? '' : 'nodim slide'}")
    p.em-above
      span.highlight1 distinguishing
      span  
      span impossible scenes: 4.5 months or earlier
    p.right (Baillargeon et al 1987)
    
section.slide#object_permanence
  .notes The problem of describing ‘what is in between' (as Davidson puts it) is nicely illustrated by this question.
  .words: .container_12: .grid_12
    mixin slide_object_permenance()

section.slide
  .notes These are the test events from Experiment 1 of Baillargeon et al's 1987 study.
  //handout only:
  img.handout(src='/img/baillargeon_1987_fig1.neg.png')
  .handout \begin{center} \citealp{baillargeon:1987_object} figure 1 \end{center}
  .words: .container_12: .grid_12
    .img1(style="overflow:hidden;max-width:350px;max-height:200px;")
      img(src='/img/baillargeon_1987_fig1.png', style="max-width:700px;max-height:527px;")
    .img2(style="overflow:hidden;max-width:350px;")
      img(src='/img/baillargeon_1987_fig1.png', style="max-width:700px;")
    .img3.hide
      img(src='/img/baillargeon_1987_fig1.png', style="max-width:700px;")
    p.right source: Baillargeon et al (1987, figure 1)
    //.notes 'The habituation event was exactly the same as the impossible event, except that the yellow box was absent.' (Baillargeon et al 1985, 200)
    mixin showremove('.img2','.img1')
    mixin showremove('.img3','.img2')

// *todo* display part of the image first (hide the control condition)
section.slide
  .notes These are the results from Experiment 1 of Baillargeon et al's 1987 study.
  //handout only:
  img.handout(src='/img/baillargeon_1987_fig2.neg.png')
  .handout \begin{center} \citealp{baillargeon:1987_object} figure 2 \end{center}
  .words: .container_12: .grid_12
    .img2-1(style="overflow:hidden;max-height:220px;")
      img(src='/img/baillargeon_1987_fig2.png',height="500")
    .img2-2.hide(style="overflow:hidden;max-height:250px;")
      img(src='/img/baillargeon_1987_fig2.png',height="500",style="position:relative;top:-220px;")
    p.right source: Baillargeon et al (1987, figure 2)
    mixin show('.img2-2')
  
section.slide
  .words: .container_12: .grid_12
    mixin slide_object_permenance(true)
    .notes So the problem is that we seem to have conflicting answers to the question: one set of evidence says early, the other late.
    .notes Resolving the apparent conflict requires responding to an instance of Davidson's challenge and finding ways of describing phenomena in between mindless ignorance of unseen objects and adult-like knowledge of objects.  

section.slide
  .photobox-bottom-right
    img.photo-right(src='/img/davidson.gif')
  .notes So let's return to Davidson's point about what is in between mindless behaviour and thought.
  .words: .container_12: .grid_12
    mixin davidson_inbetween()
    //mixin blur('span:not(.highlight1)')
    .notes The paradox of early permanence provides us with a challenge of exactly this sort.
    .notes At least some of infants' abilities to represent objects they can't see don't involve knowledge or thought proper, but are neither entirely mindless.  They do involve representation of some kind.
    .notes And this is why, despite scientific advances in understanding how humans come to know things, there is still work for philosophers.


section.slide
  .notes Hood and colleagues make a related point.
  .words: .container_12: .grid_12
    .middle
      p.handout.show
        span.blur1 ‘there are 
        span.noblur many separable systems of mental representations 
        span.blur1 ... and 
        span.noblur thus many different kinds of 
          span.highlight2 knowledge. 
        span.blur1 ... the task ... is to contribute to the enterprise of finding the distinct systems of mental representation and to understand their development and integration’
        span.handout \citep[p.\ 1522]{Hood:2000bf}.
      p.right.blur1 (Hood et al 2000, p.\ 1522)
      mixin blur('.blur1')
      .notes This quote raises two issues
      .notes First, we should be cautious about the inference from separable systems to kinds of knowledge.  (Think about modularity.)
      mixin invert('.highlight2')
      .notes Second, come to think of it, shouldn't we be cautious here in talking about knowledge at all?
      .notes To see why, return one more time to the conflicting evidence about object permanence.

section.slide
  .words: .container_12: .grid_12
    mixin slide_object_permenance(true)
    mixin words-bkg('.highlight1','pink')
    .notes At this point you might object.  The question is about knowledge.  But does either searching or distinguishing really provide evidence of knowing?
    .slide.nodim
      p.em-above talk about objects: much later
      .notes You might insist that only abilities to talk about objects manifest evidence of knowledge.
      .notes It is a good question whether searching or distinguishing manifests knowledge.
      .notes We'll return to this point later.
    mixin unremove('.step4')
    .notes First note that we can duck this hard issue by changing from talk about knowledge to talk about representation.
    .notes Searching and distinguishing certainly seem to show that infants are representing objects they can't see.
    .notes Second note that whether or not the things manifested in searching and distinguishing are knowledge proper, they are surely things that matter for explaining how knowledge is eventually acquired.



section.slide#iceberg
  .words: .container_12: .grid_12
    .notes Charles & Riverea note the conflict we have just been discussing.
    .notes Now you might think this conflict is just an isolated case.
    .notes Is the whole course going to be about infants' representations of objects?  Not at all ...
    .handout ‘violation-of-expectation experiments, using looking-time measures, suggested that infants have object permanence in occlusion conditions; but simplified-search studies confirm that infants fail to reach towards occluded objects, suggesting that infants do not have object permanence in occlusion conditions. This discrepancy, however, is only the tip of the iceberg. Results of studies attempting to measure infants’ cognitive abilities using reaching measures often contradict results gained while using looking-time measures.’ \citep[p.\ 994]{charles:2009_object}
    p ‘
      span.highlight1 violation-of-expectation experiments
      span , using looking-time measures, suggested that infants have object permanence in occlusion conditions;
    p ‘but simplified-search studies confirm that infants fail to reach towards occluded objects, suggesting that infants do not have object permanence in occlusion conditions.
    mixin words-bkg('.highlight1','red')
    .notes (Note that they mention violation-of-expectation experiments: we haven't yet come across violation-of-expectation experiments: I'll explain that notion later.)
    mixin words-bkg-remove('.highlight1','red')
    .slide
      .notes The problem that we see here generalises to other cases.
      .notes In what follows we will repeatedly encounter challenges of this form.
      p ‘This discrepancy, however, is only the 
        span.bkg-words-highlight-yellow tip of the iceberg
        span .
      p ‘Results of studies attempting to measure infants’ cognitive abilities using reaching measures often contradict results gained while using looking-time measures.’
      p.right Charles & Rivera (2009, p. 994)


section.slide
  .notes To sum up so far, the question for this course is, How do humans come to know  about---and to knowingly manipulate---objects, causes, words, numbers, colours, actions and minds?
  .notes I've been suggesting we can't answer it simply by appealing to nativism, empiricism or other grand myths.
  .notes Instead we need to focus on the particular mechanisms that are involved in different cases.
  .notes But then you might wonder, What philosophical questions arise here?  Isn't this a narrowly pscyhological---and therefore scientific---issue?
  .notes The answer is no because thinking about how humans come to know things requires us to meet Davidson's challenge, to understand things that are neither mindless nor thought or knowledge but somewhere in between.
  .notes As Hood suggests in the quote I just showed you, this might involve rethinking what knowledge is.
  .words: .container_12: .grid_12
    .middle.center
      p summary


section.slide
  .notes I hope I've given you a flavour of the approach we're going to take.
  .notes Good philosophy of mind has always been driven by scientific findings about the mind.
  .notes John Locke, David Hume as well as more recent philosophers like Jerry Fodor and Andy Clark all start with a deep understanding of the science of the mind.
  .notes But there is a difference.
  .notes Locke, Fodor and the rest are working on the big picture, trying to make explicit general features of the conceptual framework which scientists have more or less implicitly adopted.
  .notes By contrast, what I want us to do in this course is to look at specific problems that arise from the evidence,
  .notes and to provide philosophical tools for tackling this problem.
  .notes So you might say that whereas John Locke was trying to be the architect, we're trying more modestly to build the tools.
  .notes Now this might sound too modest to be interesting.
  .notes But, as we'll see, it turns out that attention to the details will give us new perspectives on some key philosophical issues about the nature of knowledge, perception and action.
  .words: .container_12: .grid_12
    .middle.center
      p the approach
  


mixin simple_theory_of_the_mind(no_steps)
  p the simple theory of the mind
  div(class="#{no_steps ? '' : 'nodim slide'}")
    ol
      li.em-above What do minds have in common?  The power of representation.
      li For each possible thought content and thinker, the thinker either has or hasn’t a representation with that content.
      li Thinkers’ actions are causally explained by their representations.
    .notes What the findings about infants' representations of objects they can't see show is this:
    .notes we must reject the simple theory of the mind.

section.slide#simple_theory_of_the_mind
  .notes To illustrate how the modest approach of the tool maker might give us new perspectives on some key philosophical issues, 
  .notes consider how the conflicting evidence about object permanence bears on the nature of minds quite generally.
  .words: .container_12: .grid_12
    mixin simple_theory_of_the_mind()

section.slide
  .notes Recall the apparently contradictory pattern of findings.
  .notes The findings are apparently contradictory only if we accept the simple theory of the mind.
  .words: .container_12: .grid_12
    mixin slide_object_permenance(true)

section.slide
  .notes So we must reject the simple theory.
  .notes Of course this doesn't follow just from the data I've mentioned so far.
  .notes But in these lectures we'll see the same sort of contradiction coming up in different domains, not just knowledge of objects but also number, colour, agency and others.
  .notes Now it's easy to say that the simple theory of the mind must be rejected.
  .notes But what are we to replace it with?
  .words: .container_12: .grid_12
    mixin simple_theory_of_the_mind(true)

section.slide#intentional_stance
  .notes We can make a similar point about Dennett's intentional stance.
  .notes The intentional stance is a theory about the nature of mental states like beliefs.
  .words: .container_12: .grid_12
    p Dennett’s Intentional Stance
    .slide.nodim
      .notes There are two key components to the intentional stance.
      .notes The first component is a strategy.
      p (a) The strategy
      .handout \subsection{Dennett’s Intentional Stance}
      .handout (a) \textit{The strategy} ‘Here is how it works: first you decide to treat the object whose behavior is to be predicted as a rational agent; then you figure out what beliefs that agent ought to have, given its place in the world and its purpose.   Then you figure out what desires it ought to have, on the same considerations, and finally your predict that this rational agent will act to further its goals in the light of its beliefs.  A little practical reasoning from the chosen set of beliefs and desires will in many---but not in all---instances yield a decision about what the agent ought to do; that is what you predict the agent will do.’
      .handout.ctd \citep[p.\ 17]{Dennett:1987sf}
      p ‘Here is how it works: [...] you figure out what beliefs that agent ought to have, given its place in the world and its purpose.   [...] finally you predict that this rational agent will act to further its goals in the light of its beliefs.’
      p.right Dennett (1987, p. 17)
    .slide
      .notes The second component is a claim about what it is to have a belief.
      p (b) The metaphysics
      p ‘any object [...] whose behavior is well predicted by this strategy is in the fullest sense of the word a believer.  
        span.slide.nodim What it is to be a true believer is to be [...] a system whose behavior is 
          span.highlight1 reliably and voluminously predictable
          span  via the intentional strategy.’
      p.right Dennett (1987, p. 15)
      .handout (b) \textit{The metaphysics} ‘any object---or as I shall say, any system---whose behavior is well predicted by this strategy is in the fullest sense of the word a believer.  What it is to be a true believer is to be an intentional system, a system whose behavior is reliably and voluminously predictable via the intentional strategy.’
      .handout.ctd \citep[p.\ 15]{Dennett:1987sf}
      .notes Now Dennett points out that his strategy works well for clams and thermostats.
      .notes But what about the infants?
      .notes If we consider just their pattern of looking times, it seems that the strategy does apply.
      .notes But if we consider their reaching behaviour, it seems that the strategy does not apply.
      .notes I think this reveals a deep problem for the strategy.
      .notes As with the simple theory of the mind, the Intentional Stance rests on the background assumption that individuals either have a particular beilef or else they do not have it.
      .notes But real minds are not so simple.
      .notes &nbsp;
      .notes Just here I want to mention a caveat.
      .notes This is not supposed to be a deep objection to Dennett's metaphysical claim about belief.
      .notes Perhaps Dennett can refine the strategy he postulates to accommodate the infants.
      .notes The only point I'm making is that the strategy is too simple.
      mixin invert('.highlight1')
      .notes You might object that this is unfair to Dennett and that the Intentional Stance provides a clear verdict on infants because they are not ‘reliably and voluminously predictable’.
      .notes But since he himself thinks the view applies to clams and theromstats, their simple behaviours must be sufficient for them to be ‘reliably and voluminously predictable’.
      .notes And in that case, so are infants looking times.


section.slide
  .words: .container_12: .grid_12
    .middle
      p.center so what are we going to do in this module?
    .notes We're going to try to understand how humans come to know about things by examining what developmental psychology tells us about the acquisition of knowledge.
    .notes This turns out to be a partly philosophical project because understanding the apparently conflicting evidence requires us to re-think notions like knowledge and representation.
    .notes In practice, this means looking carefully, and in detail, at the scientific evidence.
    .notes If you want to know how minds work, you have to start with the evidence.

