---
layout: 'deck_unit'
title: "Two Breakthroughs"
tags: []
description: "Two scientific breakthroughs that have recently furthered understanding of how knowledge might emerge in development. The first breakthrough is the discovery that preverbal infants enjoy surprisingly rich social abilities, abilities which may well be foundational for later linguistic abilities and enable the emergence of knowledge (e.g. Csibra & Gergely 2009; Meltzoff 2007; Tomasello et al. 2005). A second breakthrough is the use of increasingly sensitive—and sometimes con- troversial—methods to detect sophisticated expectations concerning causal interactions, numerosity, mental states and more besides in preverbal infants (e.g. Spelke 1990; Baillargeon et al. 2010)."
depends: ['']
source: ['']
duration: 5
book: []
exercises: []
exercises_fast: []
---

include ../../../fragments/slide_mixins
  
section.slide.nodim
  .notes Recall that the question for this course is ...
  .notes Our focus is on two breakthrough sets of findings.
  .notes One concerns core knowledge, the other social interaction.
  .words: .container_12
    .grid_5.left_half
      p.center
        strong core knowledge
      .notes Take core knowledge first. 
      .notes: :t()
        We will see that infants can tackle physics, number, agents and minds thanks to a set of 
        innate or early-developing abilities, often labelled `core knowledge'.
      .slide.nodim
        p We don't understand it.
        .notes It is important that we don't (yet) know what core knowledge is; `core knowledge' is a term of art.
        .notes I haven't explained what it is.
        .notes Rather, our position is this.
        .notes Some scientists talk about core knowledge, and formulate hypotheses in terms of it.
        .notes Since these hypotheses are supported by evidence, we can reasonably suppose they are true.
        .notes So there are some things we suppose are truths about core knowledge.
        .notes For instance, infants' core knowledge enables them to represent unperceived objects.
        .notes So we know some truths about core knowledge, but we don't know what it is.
        .notes You'd probably prefer it if I could tell you what core knowledge is first.
        .notes But here we have to work backwards.
        .notes We have to gather truths about this unknown thing, core knowledge.
        .notes And then we have to ask, What could core knowledge be given that these things are true?
      .slide.nodim.vanish
        p is like knowledge:
        ul
          li guides behaviour
          li involves something like inference
          li concerns abstract features
      .slide.nodim
        p is unlike knowledge:
        ul
          li no introspection
          li judgement-independent
          li domain-specific
          li signature limits
        .notes Several features distinguish core knowledge from adult-like understanding: its content is unknowable by introspection and judgement-independent; it is specific to quite narrow categories of event and does not grow by means of generalization; it is best understood as a collection of rules rather than a coherent theory; and it has limited application being usually manifest in the control of attention (as measured by dishabituation, gaze, and looking times) and rarely or never manifest in purposive actions such as reaching.
    mixin blur('.left_half')
    .right-half-white
      .grid_5.prefix_1
        .words
          p.center
            strong social interaction
          .slide
            .notes Now turn to social interaction.
            .notes Preverbal infants manfiest a surprising range of social abilities.  
            .notes These include imitation, which can occur just days and even minutes after birth (Meltzoff & Moore 1977; Field et al. 1982; Meltzoff & Moore 1983), imitative learning (Carpenter et al. 1998), gaze following (Csibra & Volein 2008), goal ascription (Gergely et al. 1995; Woodward & Sommerville 2000), social referencing (Baldwin 2000) and pointing (Liszkowski et al. 2006).
            .notes Taken together, the evidence reveals that preverbal infants have surprisingly rich social abilities.
            ul
              li imitation
              li gaze following
              li secondary intersubjectivity
              li social referencing
              li pointing
              li goal ascription
            .notes: :t()
              One problem for us is that these two sets of findings are typically considered in isolation, 
              although I think there are strong reasons to suppose that understanding the origins of knowledge 
              will require thinking about both core knowledge and social interaction.
            .notes: :t()
              My working hypothesis is that we can't understand early forms of social interaction 
              without core knowledge;  
              and that we can't understand how core knowledge leads to knowledge proper without 
              social interaction.
            .notes: :t()
              The challenge is to understand how core knowledge and social interaction conspire in the 
              emergence of knowledge.

  //-
    071
    core knowledge
    - brief characterisation from the rediscovery word document
      - also mention:
        - signature limits,
        - present in infants, persists in adults; present in non-human animals
        - can be overcome
    - core knowledge poses a problem: it ain't knowledge
    - use the Haith quote: “no concept causes more problems in discussions of infant cognition than that of representation.” (Haith 1998)
      - also Dennett don't know what we mean by representation
