---
layout: 'default2'
title: 'Appendix: Theoretical Background'
weburl: ''
units: []
lecture_date: '2014/09/25'
---

include ../../fragments/lecture_mixins

- var images = get_images('bees')

+title_slide({document:document, images:images})


//- *** all these need revising: just taken from Warwick 2013-4 lectures!

//- Core Knowledge and Modularity
+insert_unit({unit:'231', title_slide:false, images:images})


//- Core Knowledge
+insert_unit({unit:'601', title_slide:false, images:images})


//- syntax/innateness
+insert_unit({unit:'641', title_slide:true, images:images})



//- syntax: knowledge or core knowledge (short)
+insert_unit({unit:'646', title_slide:true, images:images})


//- Computation is the Real Essence of Core Knowledge 
+insert_unit({unit:'291', title_slide:false, images:images})
