---
layout: 'default2'
title: 'Lecture 07'
weburl: ''
units: []
lecture_date: '2014/09/24'
---

include ../../fragments/lecture_mixins
include ../../fragments/unit_mixins

- var images = get_images('usa_parks')

mixin title_slide({document:document, images:images})

// *todo* too long and not clear enough


+slide
  p understanding communication
  p (verbal and non-verbal)
  p requires
  p.minds understanding minds
  p and
  p.action understanding action
  .notes: :t()
    A key objection is this.
    In attempting to explain how infants first acquire knowledge of objects, causes and the rest,
    we want to invoke social interaction and, in particular, communication.
    But there's an objection to doing this.
    For, apparently communication depends on understanding minds and actions. 
    And you might think that understanding minds and actions is something that comes late in 
    development, well after there is knowledge of objects, causes and colours.
    In fact, you might even think that understanding minds and actions presupposes such things.
    If that were true, it would make no sense for us to appeal to communication, or social 
    interaction, in explaining how humans first come to know things.
  .notes: :t()
    One aim of this and the next lecture is to reply to this objection.
    The reply is that there are forms of understanding minds and action which are more primitive
    than knowledge.
  +highlight('.minds')
  .notes: :t()
    Today's theme is understanding minds.
    
  

//- Knowledge of Mind
+insert_unit({unit:'401', title_slide:true, images:images})

//- First Puzzle (infants vs 4 year olds)
+insert_unit({unit:'411', title_slide:true, images:images})

//- Second Puzzle (automaticity)
+insert_unit({unit:'421', title_slide:true, images:images})

//- modularity & efficiency
+insert_unit({unit:'431', title_slide:true, images:images})

//- minimal theory of mind
+insert_unit({unit:'441', title_slide:true, images:images})

//- Signature Limits Generate Predictions
+insert_unit({unit:'451', title_slide:true, images:images})
