---
layout: 'default2'
title: 'Appendix: Some Theoretical Issues'
weburl: ''
units: []
lecture_date: '2014/09/25'
---

include ../../fragments/slide_mixins

- var images = get_images('bees')

mixin title_slide({document:document, images:images})



//- Core Knowledge
+insert_unit({unit:'601', title_slide:false, images:images})


//- syntax/innateness
+insert_unit({unit:'641', title_slide:true, images:images})


