---
layout: 'default2'
title: 'Lecture 08'
weburl: ''
units: []
lecture_date: '2013/11/28'
---

include ../../fragments/lecture_mixins

- var images = get_images('bees')

mixin title_slide({document:document, images:images})

//- syntax: knowledge or core knowledge (short)
+insert_unit({unit:'646', title_slide:true, images:images})
