---
layout: 'default2'
title: 'Lecture 06'
weburl: ''
units: []
lecture_date: '2014/09/24'
---

include ../../fragments/lecture_mixins
include ../../fragments/unit_mixins

- var images = get_images('gormley')

+title_slide({document:document, images:images})



//- *** NEED INTRODUCTION LINKING BACK TO WHERE WE ARE
//- Yet Another Problem etc


+slide_middle
  p.center core knowledge and social interaction
  .notes: :t()
    Our overall project is to understand something about the emergence of knowledge of minds, 
    objects, colours and the rest in human development.
  .notes: :t()
    My proposal is that we have to take two factors into account.  
    One is core knowledge, the other is social interaction.
  .notes: :t()
    Our current problem is to understand how abilities to communicate emerge in development and,
    hopefully, also to understand what role they might play in explaining how humans come to know 
    things.
    


+slide
  p.center
    img(src='/img/fig_rediscovery.png')
  .notes: :t()
    Here is my crude picture.
    (This doesn't do more that say that social interaction and core knowledge both matter.)
    You can see that communication with words plays a special role.
    Last time we tried to understand how humans first come to communicate with words,
    with the aim of identifying possible roles for language in explaining the developmental
    emergence of knowledge.


+slide_middle
  p.center Yet Another Problem
  .notes: :t()
    We ended up with Yet Another Problem.
    The problem is, in short, that we don't know how children might first come to communicate with words.
  .notes: :t()
    To make progress with this problem it may be useful to switch from thinking about communication
    with words to thinking about non-verbal communication ...
    (But in the appendix I try to sketch a rough idea.)
  

+slide
  .notes: :t()
    This fits my overall plan which, as I mentioned before,
     is to work backwards from communication by language through non-verbal communication and 
     so to understanding action.
  img(src='/img/fig_action_communicative_linguistic.png')


+slide_middle
  p.center non-verbal communication
  .notes: :t()
    Non-linguistic communication is special because it links to two of our ambitions.
    First, we want to better understand how humans acquire abilities to communicate by language, 
    and these seem to be built on their non-linguistic abilities.
    Second, non-linguistic communication appears to be a paradigm manifestation of social 
    intelligence, and perhaps one that doesn't already require any knowledge knowledge at all.
    So non-linguistic communication may be an aspect of social intelligence that can explain 
    the origins of knowledge in development.

//- pointing
+insert_unit({unit:'661', title_slide:true, images:images})

//- a puzzle about pointing
+insert_unit({unit:'663', title_slide:true, images:images})

//- What is a communicative action?
+insert_unit({unit:'671', title_slide:true, images:images})

//- Words and Communicative Actions (short)
+insert_unit({unit:'681', title_slide:true, images:images})
